MVC/MVC/Service References/ProdutoServiceReference/ProdutoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPRODUTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PRODUTO" nillable="true" type="tns:PRODUTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPRODUTO" nillable="true" type="tns:ArrayOfPRODUTO" />
  <xs:complexType name="PRODUTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
      <xs:element minOccurs="0" name="ClienteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Disponivel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdutoId" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PRODUTO" nillable="true" type="tns:PRODUTO" />
  <xs:complexType name="CLIENTE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUTO" nillable="true" type="tns:ArrayOfPRODUTO" />
      <xs:element minOccurs="0" name="Sobrenome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CLIENTE" nillable="true" type="tns:CLIENTE" />
</xs:schema>